@import "tailwindcss";

body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}